on init
    #Create nvdata mount point
    mkdir /nvdata 0771 system system

on post-fs-data
    # create basic filesystem structure
    # mkdir /data/nvram 2770 root system
    # We chown/chmod /nvdata again so because mount is run as root + defaults
    chown root system /nvdata
    chmod 2771 /nvdata
    mkdir /nvdata/media 0771 media audio
    symlink /nvdata /data/nvram

    # Set SELinux security contexts on upgrade or policy update.
    restorecon_recursive /nvdata