# ==============================================
# MTK Policy Rule
# ============

# Data : WK14.42
# Operation : Migration
# Purpose : Video playback
allow surfaceflinger sw_sync_device:chr_file { rw_file_perms };
allow surfaceflinger debug_prop:property_service set;

# Data : WK16.25
# Operation : N0 UT
# Purpose : allow debuggerd dumpsys surfaceflinger
allow surfaceflinger debuggerd:fifo_file write;

# Date : WK16.33
# Purpose: Allow to access ged for gralloc_extra functions
allow surfaceflinger proc_ged:file {open read write ioctl getattr};

# new
allow surfaceflinger default_android_service:service_manager add;
